@model WebApplication2.ViewModels.RandomOsobyViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Osoby.Name</h2>

<ul>
  
@foreach (var konta in Model.Konta)
{ 
    <li>@konta.Name</li>
}
</ul>